# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log
log.txt

# Env files
.env
.env.local
backend/.env
frontend/.env

# Build
backend/dist/
backend/build/
frontend/build/

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
